- hosts: servers

  vars:
    app_path: "/opt/cloud1"

  vars_files:
    - vault.yml

  roles:
    - docker
    - mariadb
    - wordpress
    - phpmyadmin
    - caddy

  post_tasks:
    - name: Build and start Docker containers
      become: true
      community.docker.docker_compose_v2:
        project_src: "{{ app_path }}"
