- hosts: servers

  vars:
    app_path: "/opt/cloud1"

  vars_files:
    - vault.yml

  roles:
    - docker
    - mariadb
    - wordpress
    - phpmyadmin
    - caddy

  post_tasks:
    - name: Build and start Docker containers
      become: true
      community.docker.docker_compose_v2:
        project_src: "{{ app_path }}"
        build: always

    - name: Ensure Docker containers are running
      become: true
      community.docker.docker_container_info:
        name: "{{ item }}"
      loop:
        - mariadb
        - wordpress
        # - phpmyadmin
        - caddy
      register: container_info

    - name: Debug container statuses
      debug:
        msg: "Container {{ item.item }} is {{ item.container.State.Status }}"
      loop: "{{ container_info.results }}"
      when: item.container is defined
